.scroll {
  opacity: 0.3;
  background-color: #33b5e5;
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  border-radius: 5px;
  border: none;
}

.scroll:hover {
  opacity: 1;
}
